{
    "emojis": {
      "memory": {
        "id": "",
        "fallback": "💾"
      },
      "clock": {
        "id": "",
        "fallback": "⏰"
      },
      "update": {
        "id": "",
        "fallback": "⬆️"
      },
      "newchat": {
        "id": "",
        "fallback": "🆕"
      },
      "cross": {
        "id": "",
        "fallback": "❌"
      },
      "generating": {
        "id": "",
        "fallback": "⚙️"
      },
      "search": {
        "id": "",
        "fallback": "🔍"
      },
      "delete": {
        "id": "",
        "fallback": "🗑️"
      },
      "github": {
        "id": "",
        "fallback": "🔗"
      }
    }
  }